@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix Sans";
  src:
    local("NetflixSans-light"),
    url("./media/fonts/NetflixSans-Light.woff2") format(woff2);
  font-weight: 200;
}
@font-face {
  font-family: "Netflix Sans";
  src:
    local("NetflixSans-Regular"),
    url("./media/fonts/NetflixSans-Regular.woff2") format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Netflix Sans";
  src:
    local("NetflixSans-medium"),
    url("./media/fonts/NetflixSans-Medium.woff2") format(woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Netflix Sans";
  src:
    local("NetflixSans-bold,"),
    url("./media/fonts/NetflixSans-Bold.woff2") format(woff2);
  font-weight: 700;
}
*,
html {
  scroll-behavior: smooth !important;
}

html:focus-within {
  scroll-behavior: smooth;
}
body {
  font-family: "Netflix Sans";
  font-weight: 400;
}

a {
  transition: 0.3s;
}
a:hover {
  cursor: pointer;
  opacity: 0.5;
}
